body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-table{
  padding: 20px 0;
}

.thBlack {
  background: #000;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  text-align: center;
}

.text-align-center{
  text-align: center;
  border: 1px solid #000; 
}

.table-hover>tbody>tr:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.search-user{
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.search-user__input{
  width: 300px;
  height: 40px;
  background: #000;
  border-radius: 20px;
  border: none;
  color: #fff;
  text-indent: 20px;
  font-size: 20px;
  outline: 0;
}